@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap");

.contact-container {
  font-family: "Inclusive Sans", sans-serif;
  /* max-width: 800px; */
  margin: auto;
  /* padding: 20px; */
  text-align: left;
  margin-top: 50px;
}

.contact-title {
  margin-bottom: 15px;
  margin-top: 50px;
  font-size: 1.875rem;
  font-weight: 500; 
  color: #222;
}

.contact-subtitle {
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  color: #023CB6;
  font-weight: 400;
  margin-bottom: 25px;
}

.contact-links {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}
.contact-card {
  display: flex;
  align-items: center;
  gap: 10px;
  /* background: #f8f9fc; */
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); /* Default shadow */
  outline: 1px solid rgba(209, 213, 219, 0.8); /* Equivalent to ring-1 ring-gray-300 */
  text-decoration: none;
  color: #222;
  transition: all 0.3s ease-in-out;
}

.contact-card:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15); /* Equivalent to hover:shadow-lg */
  outline-color: rgba(156, 163, 175, 1); /* Equivalent to hover:ring-gray-400 */
}


.contact-icon {
  font-size: 2rem;
}

.linkedin-icon {
  color: #0077b5;
}

.email-icon {
  color: #d93025;
}

.contact-info {
  flex-grow: 1;
}

.contact-name {
  font-size: 1rem;
  font-weight: 500;
}

.contact-description {
  font-size: 0.8rem;
  color: #757c91e8;
}

.external-icon {
  font-size: 0.9rem;
  color: #55555544;
}

.footer {
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 0.9rem;
  color: #777;
  text-align: left;
}

@media (max-width: 765px){
  .contact-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
  }
}